.container {
  position: absolute;
  top: 579px;
  left: 10px;
  background-color: #4A72D6;
  width: 300px;
  height: 150px;
  border-radius: 10px;
  padding: 20px;
}

.contentContainer {
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
}

.duration {
  font-size: 30px;
  color: white;
  font-weight: bold;
  margin-right: 10px;
}

.image {
  width: 70px;
  height: 70px;
}

.title {
  font-size: 18px;
  font-weight: bold;
  color: yellow;
}

.distanceText {
  font-size: 16px;
  font-weight: bold;
  color: white;
}

.distance {
  font-size: 16px;
  color: white;
}
